
@font-face {
    font-family: 'Noto Sans Display';
    src: url('fonts/AnyConv.com__NotoSansDisplay-Regular.woff2') format('woff2');
    font-style: normal;
	font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('fonts/NotoSansDisplay-Bold.woff2') format('woff2');
    font-style: normal;
	font-weight: 700;
    font-display: swap;
}

*, *::before, *::after {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.nav{
    padding: 40px 0;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.nav__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    padding: 10px;
    border-radius: 15px;
}
.nav__logo:hover{
    background-color: #E8E1D9;
}
.nav__list{
    list-style-type: none;
    padding: 0;
    display: flex;
}
.nav__item:not(:last-child){
    margin-right:30px ;
}
.nav__link{
    text-decoration: none;
    color: inherit;
    padding: 10px;
   
}
.nav__link:hover{
    color: #F72464;
    background-color: #E8E1D9;
    border-radius: 15px;
}

.nav__cart-link{
   position: relative;
    padding: 10px;
}
.nav__cart-number{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color:#F72464;
    position: absolute;
    top: 0;
    right:0;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    line-height: 20px;
}