
@font-face {
    font-family: 'Noto Sans Display';
    src: url('fonts/AnyConv.com__NotoSansDisplay-Regular.woff2') format('woff2');
    font-style: normal;
	font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Display';
    src: url('fonts/NotoSansDisplay-Bold.woff2') format('woff2');
    font-style: normal;
	font-weight: 700;
    font-display: swap;
}

*, *::before, *::after {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    font-weight: 400;
}
.nav{
    padding: 40px 0;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.nav__row{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.nav__logo{
    padding: 10px;
    border-radius: 15px;
    margin-right: 84px;

}
.nav__logo:hover{
    background-color: #E8E1D9;
}
.nav__list{
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-right: auto;
    flex-wrap: wrap;
}
.nav__item:not(:last-child){
    margin-right:30px ;
}
.nav__link{
    text-decoration: none;
    color: inherit;
    padding: 10px;
   
}
.nav__link:hover{
    color: #F72464;
    background-color: #E8E1D9;
    border-radius: 15px;
}

.nav__cart-link{
    position: relative;
    padding: 5px;
}
.nav__cart-number{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color:#F72464;
    position: absolute;
    top: -8px;
    right: -5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    line-height: 20px;
}

.link__buy{
    display: inline-block;
    font-size: 26px;
    line-height: 35px;
    color: #ffffff;
    padding: 5px 33px 11px;
    background-color: #F72464;
    border-radius: 4px;
    box-shadow: 0px 4px 15px rgba(123, 12, 46, 0.35);
    text-decoration: none;
    transition:box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;

}
.link__buy-left{
    margin-left: 10px;
}
.link__buy:hover{
    background-color: #96C6DD;
    box-shadow: 0px 4px 35px rgba(71, 7, 27, 0.35);
}

.main__row__header{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 62px;
    
}
.content{
   position: absolute;
   top: 21%;
   left: 0;
    width: 670px;
}
.content__title{
    font-size: 72px;
    line-height: 96px;
    margin: 0;
    margin-bottom: 20px;
}
.content__text{
    font-size: 22px;
    line-height: 150%;
    width: 540px;
    margin: 0;
    margin-bottom: 60px;
    margin-left: 10px;
}

/* секция новый продукт  New Products*/
.wrapper__product{
    text-align: center;
    margin-bottom: 40px;
}
.collection__title{
    margin: 0;
    font-size: 42px;
    line-height: 56px;
    margin-bottom: 10px;
}
.collection__text{
    font-size: 14px;
    line-height: 19px;
    color: #999999;
    text-transform: uppercase;
}
.product__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.product__item{
    width: 270px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
}
.product__cart{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.product__title{
    margin: 0;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 27px;
}
.product__link{
    order: -1;
    margin-bottom: 20px;
}
.product__price__old{
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #999999;
    margin: 0 5px;
}
.product__price{
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    color: #F72464;
}
.product__item:nth-child(4n){
    margin-right: 0;
}
.product__item:nth-child(4n)+.product__item{
    margin-left: 0;
}
.product__item:first-child{
    margin-left: 0;
}
.product__item:last-child{
    margin-right: 0;
}
.button___item{
    margin: 0 auto;
    display: block;
    font-size: 16px;
    line-height: 21px;
    color: #777777;
    text-transform: uppercase;
    padding: 9px 40px 12px;
    border: 1px solid #F72464;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 70px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    
}
.button___item:hover{
    background-color: #F72464;
    color: #ffffff;
    cursor: pointer;
}

/* ПРИЗЫВ К ДЕЙСТВИЮ */
.call__to__action{
    width: 1400px;
    margin: 0 auto;
    background:  linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/rectangle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
}
.wrapper__call__to__action{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.call__to__action__text{
    font-size: 52px;
    line-height: 100%;
    color: #ffffff;
    margin-right: auto;
    margin-top: 68px;
    margin-bottom: 68px;
}
.call__to__action-new{
    background:  linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/rectangle__new.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* элемент пост */
.container__post__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.button___item-post{
    padding: 9px 52px 12px;
}
.wrapper__product-post{
    margin-bottom: 86px;
}
.post__wrapper{
    width: 570px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.post__wrapper__content{
    width: 370px;
}
.post__wrapper__content h3{
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 27px;
}
.post__wrapper__content p{
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 130%;
    color: #777777;
}
.post__wrapper__content a{
    position: relative;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
}
.post__wrapper__content a::after{
    position: absolute;
    content: '';
    background-image: url('../images/chevron-right.svg');
    top: 0;
    right: -24px;
    display:block;
    width: 24px;
    height: 24px;
}